# Django antiguo con vulnerabilidades conocidas
Django==1.11.29

# Otras dependencias vulnerables
django-crispy-forms==1.7.2
Pillow==6.2.2
requests==2.20.0
urllib3==1.24.3
pyyaml==4.2b1
sqlparse==0.2.4
django-filter==1.1.0
djangorestframework==3.9.4
markupsafe==1.1.0
jinja2==2.10.1